.leaflet-container {
	width: 45vw;
	height: 40vh;
	border-radius: 1rem;
	border-color: black;
	border-width: 1px;
}


@media screen and (max-width: 768px) {
	.leaflet-container {
		width: 90vw;
		height: 30vh;
	}
}