.filtercontainer {
    background-color: #229ddb;
    display: flex;
   justify-content: space-around;
   color: white;
   padding: 20px;
}

.select {
    width: 150px;
    padding: 5px;
    margin: 2px auto 2px auto;
    border-radius: 5px;
    color: #1C517A;
    border: 1px solid #1C517A;
}

.Button2{
    background-color:white;
    color: #1C517A;
    padding: 3px 15px 3px 15px;
    border-radius: 40px;
    border: none;
}