
.filtercontainer {
    background-color: #1C517A;
    display: flex;
   justify-content: space-around;
   padding: 20px;
} 


.select {
    width: 180px;
    padding: 5px;
    margin: 2px auto 2px auto;
    border-radius: 5px;
    color: #1C517A;
    border: 1px solid #1C517A;
}


@media screen and (max-width: 425px) {
    .flex{
        flex-direction: column;
    }

    .flex Select{
        width: 20em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
  }

  @media screen and (max-width: 425px) {
    .flex{
        flex-direction: column;
    }

    .flex Select{
        width: 15em;
        margin-top: 2em;
        margin-bottom: 1em;
    }
  }
