.containerTotal {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 30px;
  margin-top: 10px;
}

.container {
  margin-left: 30px;
}

.img {
  width: 150px;
  height: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 8px;
}

.quantity {
  display: flex;
  flex-direction: row;
}

.operation {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #229ddb;
  border: none;
  color: white;
  font-weight: bolder;
}

.purchased {
  padding: 5px;
}

.imgdelete {
  cursor: pointer;
  width: 40px;
  margin-right: 30px;
}

.name {
  width: 150px;
}

.text {
  font-size: 1.5em;
}

.quantity {
  margin-bottom: 1em;
  font-size: 1em;
}

@media screen and (max-width: 900px) {
  .text {
    font-size: 1em;
  }
  .quantity {
    font-size: 0.7em;
  }
  .imgdelete {
    width: 30px;
  }
}

@media screen and (max-width: 430px) {
  .text {
    font-size: 0.8em;
  }
  .quantity {
    font-size: 0.6em;
  }
  .imgdelete {
    width: 20px;
  }
}
