.containerTotal{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 20px;
    margin-top: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 2px solid rgb(224, 139, 21);
}

.img {
    width: 150px;
    height: 150px;
}

.quantity {
    display: flex;
    flex-direction: row;
}

.operation {
    width: 30px;
    height: 30px;
}

.purchased {
    padding: 5px;
}