.nav {
    background-color: #1C517A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 10px;
}

.Button {
    background-color: #229ddb;
    border: 2px solid white;
    border-radius: 70px;
    color: white;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.container {
    width: 500px;
    height: 80%;
    margin: auto;
    margin-top: 50px;
    border: 4px solid #229ddb;
    border-radius: 10px;
}

.form {
    padding: 0px 30px 0px 30px;
    color: #146c98;
    font-weight: bolder;
}

.title {
    margin-top: 10px;
    text-align: center;
    color:  #1C517A;
    margin-bottom: 15px;
}
.divButton {
    display: flex;
    justify-content: center;
}

.Button2 {
    cursor: pointer;
    color: white;
    font-weight: bolder;
    background-color: rgb(22, 51, 110);
    border-radius: 70px;
    font-size: 12px;
    padding: 10px 30px 10px 30px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text {
    border: 1px solid rgb(22, 51, 110);
    background-color: rgb(237, 247, 247);
    margin-top: 10px;
    width:400px;
    height: 150px;
}

.select {
    margin-left: 20px;
    border-radius: 5px;
}
.white{
    cursor: pointer;
    color: rgb(37, 22, 22);
}
.mail{
    box-shadow: #146c98;
    background-color:rgb(237, 247, 247);
}
.close{
    background-color: darkgrey;
    border-radius: 20px;
    
    padding: 4px;
}