
.cards {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    margin: 1rem;
    overflow: hidden;
    width: 40rem;
    height: 20rem;
    color: #222831;
}

.img {
    width: 20rem;
    height: 20rem;
}
.cards h4 {
    margin: 1rem 0;
}

.cards h6 {
    opacity: 0.8;
}

.leftcolumn {
    /* max-width: 20rem;
    height: 20rem; */
    position: relative;
}

.triangle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
}

.text {
    width: 5em;
    color: white;
    position: relative;
    top: -75px;
    left: -5px;
    font-weight: bold;
    transform: rotate(-45deg);
}

.rightcolumn {
    padding: 1px 1px 1px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0.1rem;
    height: 20rem;
}

.subtitles p {
    margin: 2px;
}

.Button2 {
    cursor: pointer;
    color: white;
    font-weight: bolder;
    background-color: #FD7014;
    border-radius: 70px;
    font-size: 12px;
    padding: 1px 20px 1px 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
}

.carticon {
    width: 30px;
}

.cards:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.link {
    text-decoration: none;
}

.favicon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.containerButton {
    display: flex;
    justify-content: space-between
}

.ButtonFav {
    border-radius: 50%;
    background-color: white;
    margin-right: 100px;
}