body {
    margin: 0;
    padding: 0;
    
}

.container{
    background-image: url('../Media/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    
    position:fixed;
    top:0;
    width:100%;
    z-index: 1;
}



.totalcards {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 10px;
}


.carousel {
    width: 95%;
   margin-left: auto;
   margin-right: auto;
}

/* .items {
    /* background-color: #CAD1D0; */
    

 

.filter {
    margin-top: 15px;
}
.welcome{
    display: flex;
    justify-content: center;
    color: rgb(243, 188, 8);
    text-shadow: 3px 3px 3px black;
    font-size: 1.8rem;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 5rem;
    padding-top: 8px;
}

.search{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.notEvent{
    font-size:5rem;
    color:azure;
    text-shadow: 3px 3px 3px red;
}


