.img {
    width: 250px;
    height: 300px;
  }
  
  .security {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  .btn {
    margin-bottom: 10px;
  }
  
  .btn:hover {
    color: #fd7014;
  }
  
  .span {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contentProfile{
      min-height: 100vh;
  }
  
  .contentFav{
      min-height: 100vh;
  }
  
  @media screen and (max-width: 900px) {
    .title, .name{
      font-size: 1.5em;
      }
  
      .user, .security {
          font-size: 1.3em;
      }
  
      .btn, .email {
          font-size: .9em;
      }
  
      .span {
          font-size: .8em;
      }
  }
  
  @media screen and (max-width: 740px) {
      .contentProfile{
        /* background-color: #fd7014; */
          min-height: 60vh;
          min-width: 100vw;
      }
  
      .contentFav{
          min-height: 90vh;
          min-width: 100vw;
      }
    }
    
    @media screen and (max-width: 590px) {
      .img {
          width: 150px;
          height: 200px;
        }
    }
  
    @media screen and (max-width: 320px) {
      .img {
          width: 100px;
          height: 150px;
        }
    }
  