.search {
    height: 2.5em;
    width: 30em;
}

@media screen and (max-width: 1024px) {
    .search {
        width: 20em;
    }
}

@media screen and (max-width: 320px) {
    .search {
        width: 15em;
    }

  }
