.container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    /* margin-left: 0.5rem; */
}

.cards {
    background-color: #EEEEEE;
    display: flex;
    border-radius: 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
    overflow: hidden;
    width: 31rem;
    height: 10rem;
}

.leftcolumn {
    max-width: 10rem;
    max-height: 10rem;
}

.rightcolumn {
    max-width: 12rem;
    max-height: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: #222831;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.leftcolumn img {
    width: 9rem;
    height: 10rem;
}

.rightcolumn img {
    width: 9rem;
    height: 10rem;
}

.containerButton {
    display: flex;
    justify-content: right;
}

.buttonX {
    background-color: rgb(188, 54, 54);;
    border: 1px solid rgb(188, 54, 54);
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 5px;
}

.text {
    margin-top: 50px;
    font-size: 30px;
    color: whitesmoke;
    font-weight: bolder;
}

.qrCode {
    margin-top: 1rem;
}

@media screen and (max-width: 1431px) {
    .container {
        grid-template-columns: auto;
    }

    .cards {
        width: 32rem;
        height: 12rem;
    }

    .leftcolumn img, .rightcolumn img {
        width: 10rem;
        height: 12rem;
    }

    .rightcolumn h6, .rightcolumn p {
        margin-bottom: .5em;
    }

    .qrCode {
        margin-top: 2em;
    }
  }

  @media screen and (max-width: 566px) {
    .cards {
        width: 25rem;
        height: 8rem;
    }

    .leftcolumn img, .rightcolumn img {
        width: 5rem;
        height: 8rem;
    }

    .rightcolumn h6, .rightcolumn p {
        font-size: .8em;
    }
  }

  @media screen and (max-width: 445px) {
    .cards {
        width: 23rem;
        height: 8rem;
    }
  }

  @media screen and (max-width: 407px) {
    .cards {
        width: 15rem;
        height: 22.5rem;
        flex-direction: column;
        align-items: center;
    }

    .leftcolumn img, .rightcolumn img {
        width: 9rem;
        height: 9rem;
    }

    .rightcolumn h6, .rightcolumn p {
        margin-bottom: .5em;
    }

    .qrCode {
        margin-top: 0;
    }
  }





/* @media screen and (max-width: 900px) {
    .text{
        color: aqua;
        font-size: 20px;
    }
  }

  @media screen and (max-width: 440px) {
    .text{
        font-size: 15px;
    }
  }

  @media screen and (max-width: 320px) {
    .text{
        font-size: 12px;
    }
  } */