body {
    margin: 0;
    padding: 0;
}


.Total {
    background: #393E46;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    
}

.container {
    background-color: #222831;
    width: 400px;
    height: 350px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid white;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form p {
    margin-left: 2rem;
    margin-top: 1rem;
    color: white;
    font-weight: bolder;
}

.form input {
    width: 85%;
    margin: 0 2rem 0 2rem;
    padding: 0.2rem;
    border-radius: 5px;
}

.form button {
    width: 85%;
    margin: 0 2rem 0 2rem;
    padding: 0.2rem;
    border-radius: 5px;
    margin-top: 2.5rem;
    background-color: #FD7014;
    color: white;
    font-weight: bolder;
}

img {
    width: 40%;
}